/* GLOBAL */
body {
    background-color: #82ccdd;
    font-family: "Bree Serif";
    height: 100vh;
    position: relative;
    background-image: url(https://i.postimg.cc/kgnQm86C/pexels-donaldtong94-55787.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: #25CCF7;
    font-size: xx-large;
    text-shadow: 3px 3px 5px #182C61;
}

h2 {
    color: #1fa7c9;
    font-style: italic;
    font-size: medium;
    text-shadow: 3px 3px 5px #182C61;
}

a {
    text-decoration: none;
    color: #182C61;
}

p {
    text-align: left;
}

/* SECTIONS */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.title {
    margin-left: 20px;
}

.source {
    margin-right: 100px;
}


.lyrics {
    margin-top: 20px;
    margin-bottom: 20px;
}



