/* GLOBAL */
body {
    font-family: "Bree Serif";
}

h1 {
    font-size: xx-large;
}

h2 {
    font-style: italic;
    font-size: medium;
}

a {
    text-decoration: none;
    color: #44bd32;
}

p {
    text-align: left;
}

/* SECTIONS */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;.
}

.title {
    margin-left: 20px;
}

.source {
    margin-right: 100px;
}


.lyrics {
    margin-top: 20px;
    margin-bottom: 20px;
}




